/*Tomás Rivero 6°P*/

#contenedor-contacto {
	background-image: url(../img/background-contacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px; 
}



#form-contacto {
	background-color: white !important;
	width: 70%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 50px 0px;
	border-radius: 10px;
	box-shadow: -2px 8px 37px 1px rgba(0,0,0,0.75);
	opacity: .7;
	transition-duration: 0.5s;
}

#form-contacto:hover{
	opacity: 1;
}

#form-contacto img{
	width: 340px;
	margin: 0px 20px 0px 30px;
}

#form-contacto form > div{
	display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#form-contacto h3{
	font-size: 20px;
	font-family: 'Kalam', cursive;
	padding: 20px 0px 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

textarea {
	resize: none;
	background-color: #FFC5C5;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
	border: 3px solid white;
	font-family: 'Varela Round', sans-serif;
}

textarea:hover{
	border: 3px solid beige;
}

#form-contacto form div div input{
	margin-right: 6px;
}

#form-contacto button{
	background: none;
	border-style: none;
	background-color: beige;
	padding: 10px 20px;
	margin-left: 7px;
	border: 2px solid #303030;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}

#form-contacto button:hover{
	background-color: #303030;
	border-color: beige;
	color: rgba(255, 193, 7 ,1);
	font-size: 20px;
}