/*Tomás Rivero 6°P*/

#cajita {
	background-image: url(../img/backgroundlogin.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px; 
}

#form {
	background-color: white !important;
	width: 600px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding: 50px 0px;
	border-radius: 10px;
	box-shadow: -2px 8px 37px 1px rgba(0,0,0,0.75);
	opacity: .7;
	transition-duration: 0.5s;
}

#form:hover{
	opacity: 1;
}

#form img{
	width: 250px;
	margin: 0px 20px 0px 30px;
}

#form form button{
	margin: 20px 20%;
}

#form h3{
	font-family: 'arial', sans-serif;
	font-size: 17px;
	margin: 20px 0px 5px;
}

#form input{
	background: none;
	background-color: beige;
	padding: 5px 10px;
	margin-left: 7px;
	border: 2px solid #ABABBF;
	border-radius: 10px;
}

#form input:focus{
	background: #E0E0FF;
	border-color: #000B3A;
}

#form form button{
	background: none;
	border-style: none;
	background-color: beige;
	padding: 10px 20px;
	margin-left: 7px;
	border: 2px solid #303030;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}

#form form button:hover{
	background-color: #303030;
	border-color: beige;
	color: rgba(255, 193, 7 ,1);
	font-size: 20px;
}

#form a > button{
	background: none;
	border-style: none;
	background-color: #E2FFD6;
	padding: 8px 15px;
	margin-top: 20px;
	margin-left: 7px;
	border: 2px solid #303030;
	border-radius: 15px;
	cursor: pointer;
	transition-duration: 0.5s;
}

#form a > button:hover{
	background-color: #303030;
	border-color: #E2FFD6;
	color: #E2FFD6;
}

